name: Pull Request

on:
  pull_request:
    types: [opened, synchronize, reopened]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: {}

defaults:
  run:
    shell: bash

jobs:
  lint:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: pnpm/action-setup@1e1c8eafbd745f64b1ef30a7d7ed7965034c486c
        with:
          run_install: false
      - uses: actions/setup-node@65d868f8d4d85d7d4abb7de0875cde3fcc8798f5
        with:
          node-version: 24
      - run: pnpm install --frozen-lockfile
      - run: pnpm run format:check

  test:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: pnpm/action-setup@1e1c8eafbd745f64b1ef30a7d7ed7965034c486c
        with:
          run_install: false
      - uses: actions/setup-node@65d868f8d4d85d7d4abb7de0875cde3fcc8798f5
        with:
          node-version: 24
      - run: pnpm install --frozen-lockfile
      - run: pnpm test --browsers=ChromeHeadless --watch=false
